{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "importOrder": ["^react/(.*)$", "^@remix-run/(.*)$", "^~/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "printWidth": 80
}
